# Archivos sensibles - NO subir a GitHub
.env
*.db

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Entornos virtuales
venv/
env/
ENV/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Sistema
.DS_Store
Thumbs.db

# Streamlit
.streamlit/secrets.toml
